// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Material Dashboard
@import '~material-dashboard/assets/scss/material-dashboard.scss';
@import 'sidebar-color';

// Custom styling
@import 'custom';